<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.all.in.one.agent.dao.mapper.AlarmOwnerConfigMapper">

    <resultMap id="BaseResultMap" type="com.all.in.one.agent.dao.entity.AlarmOwnerConfig">
        <id column="id" property="id"/>
        <result column="service_name" property="serviceName"/>
        <result column="service_description" property="serviceDescription"/>
        <result column="owner_id" property="ownerId"/>
        <result column="owner_name" property="ownerName"/>
        <result column="owner_email" property="ownerEmail"/>
        <result column="owner_mobile" property="ownerMobile"/>
        <result column="backup_owner_id" property="backupOwnerId"/>
        <result column="backup_owner_name" property="backupOwnerName"/>
        <result column="backup_owner_email" property="backupOwnerEmail"/>
        <result column="team_name" property="teamName"/>
        <result column="team_leader" property="teamLeader"/>
        <result column="feishu_open_id" property="feishuOpenId"/>
        <result column="backup_feishu_open_id" property="backupFeishuOpenId"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="created_by" property="createdBy"/>
    </resultMap>

    <select id="selectByServiceName" resultMap="BaseResultMap">
        SELECT *
        FROM alarm_owner_config
        WHERE service_name = #{serviceName}
        LIMIT 1
    </select>

</mapper>